html,
body {
  height: 100%;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
  padding: 0;
}

#map,
#pano,
#result-map {
  float: left;
  height: 100%;
  width: 100%;
}
h1 {
  display: flex;
  justify-content: center;
}

.row-1 {
  height: 40%;
  width: 100%;
  display: flex;
}

.row-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row-3 {
  height: 40%;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

button {
  width: 10rem;
  height: 3rem;
}

h2 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.gm-iv-address {
  display: none;
}
