html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: black;
  font-family: "Lucida Console", "Courier New", monospace;
}

.row {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

#pano {
  float: left;
  height: 100%;
  width: 100%;
}

#map {
  float: left;
  height: 100%;
  width: 100%;
  border-bottom: 5px solid black;
  margin: 0;
}

h1 {
  display: flex;
  justify-content: center;
}

.column-left {
  height: auto;
  width: 100%;
  border-left: 10px solid black;
  border-top: 10px solid black;
  border-bottom: 10px solid black;
}

.column-right {
  height: auto;
  width: 40%;
  display: flex;
  flex-direction: column;
  border: 10px solid black;
}

.column-right h2 {
  color: white;
  margin-left: 2rem;
  margin-right: 2rem;
}

.info-container {
  margin-bottom: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controls-container {
  margin-top: 2%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.gm-style-mtc {
  display: none;
}

button {
  width: 10rem;
  height: 3rem;
  border-radius: 1rem;
  color: white;
  background-color: #0d6efd;
  border-color: #0d6efd;
  cursor: pointer;
}

button:disabled {
  background-color: transparent;
}

.gm-iv-address {
  display: none;
}

#round-number {
  margin-top: 0;
  margin-bottom: 0;
}

#restart-button {
  margin-bottom: 1rem;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.modal-content h2 {
  color: black;
  margin-left: 0;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-left: auto;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Modal Styling */

.modal-content {
  display: flex;
  flex-direction: column;
}

.signup {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.login {
  display: flex;
  flex-direction: column;
  margin-right: 5%;
  width: 50%;
}

.login h2 {
  color: black;
  margin: 0;
  margin-bottom: 1rem;
}

.signup h2 {
  color: black;
  margin: 0;
  margin-bottom: 1rem;
}

input {
  height: 2rem;
  width: auto;
  margin-bottom: 1rem;
  border-radius: 1rem;
  border: 1px black solid;
  padding: 5px;
}

.modalRow {
  display: flex;
  justify-content: start;
}

.modalHeader {
  display: flex;
  margin-bottom: 1rem;
}

.modalHeader h2 {
  color: black;
  margin: 0;
  padding-top: 5px;
}

/* Modal Table */

table,
td,
th {
  border: 1px solid #ddd;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 15px;
}

@media only screen and (max-width: 600px) {
  .row {
    flex-direction: column;
  }
  .column-right {
    height: 100%;
    width: 100%;
  }
  .column-left {
    height: 100%;
  }
  #map {
    height: 100%;
    border-bottom: 0px solid black;
  }
  #score-number {
    margin-top: 1rem;
  }
  .column-left {
    border-left: 0px solid black;
    border-top: 0px solid black;
    border-bottom: 0px solid black;
  }
  .column-right {
    border: 0px solid black;
  }
}
